# Strings in Detail

In [2]:
name = "Saikiran Letsupgrade"

In [4]:
name.index("a")

1

In [5]:
address = "Navi Mumbai"

In [6]:
address

'Navi Mumbai'

In [7]:
# Concatinate the String together ->

In [9]:
name +" "+ address

'Saikiran Letsupgrade Navi Mumbai'

In [10]:
name.split()

['Saikiran', 'Letsupgrade']

In [11]:
name[7]

'n'

In [12]:
# Assignment No.1 for the day

In [13]:
"Try 5 Different functions of the String in Python"

'Try 5 Different functions of the String in Python'

# Lists

In [14]:
#What are List ?

List are a collections of Data types which can hold Int, Float, Strig and Sub Lists also

In [18]:
lst = [1,2,3,5,6,"saikrian","abc", 5.6, 7.8, 9.2]

In [19]:
lst

[1, 2, 3, 5, 6, 'saikrian', 'abc', 5.6, 7.8, 9.2]

In [17]:
type(lst)

list

In [20]:
lst[5]

'saikrian'

In [21]:
lst[0]

1

In [24]:
lst[-1]

9.2

In [25]:
lst = [1,2,3,5,6,"saikrian","abc", 5.6, ["sai","kiran","letsupgrade"],7.8, 9.2]

In [26]:
lst

[1,
 2,
 3,
 5,
 6,
 'saikrian',
 'abc',
 5.6,
 ['sai', 'kiran', 'letsupgrade'],
 7.8,
 9.2]

In [27]:
lst[8]

['sai', 'kiran', 'letsupgrade']

In [28]:
lst[8][2]

'letsupgrade'

In [30]:
lst[-3][-1]

'letsupgrade'

In [31]:
lst.append("last")

In [32]:
lst

[1,
 2,
 3,
 5,
 6,
 'saikrian',
 'abc',
 5.6,
 ['sai', 'kiran', 'letsupgrade'],
 7.8,
 9.2,
 'last']

In [33]:
lst.insert(0,"first")

In [34]:
lst

['first',
 1,
 2,
 3,
 5,
 6,
 'saikrian',
 'abc',
 5.6,
 ['sai', 'kiran', 'letsupgrade'],
 7.8,
 9.2,
 'last']

# Tuples

In [35]:
#Tuples are Immutable and they are not editable after once it is declared

In [36]:
tup = ("We","Love","LetsUpgrade")

In [37]:
tup

('We', 'Love', 'LetsUpgrade')

In [39]:
tup.count("LetsUpgrade")

1

In [40]:
tup.index("LetsUpgrade")

2

In [41]:
# Where do we use Tuple ?

# What is Dict ?

In [42]:
#We use Dict for Key Value Pair

In [43]:
#Ex of List -> A Society with Row House and having Address startig from 0

In [44]:
# Ex of Dict -> A Village where we dont have House Number, and the House's
# are been recog.  by the mai person in the house

In [45]:
dit = {"key":"value", "key1":1, "key2":5.6}

In [46]:
dit

{'key': 'value', 'key1': 1, 'key2': 5.6}

In [47]:
dit[0]

KeyError: 0

In [48]:
dit["key"]

'value'

In [49]:
dit["key1"]

1

In [50]:
dit["key2"]

5.6

In [51]:
ditPerson = { "Name":"Saikira", "age":40, "email":"sai@letsupgrade.in"}

In [52]:
ditPerson

{'Name': 'Saikira', 'age': 40, 'email': 'sai@letsupgrade.in'}

In [53]:
ditPerson.get("Name")

'Saikira'

In [54]:
ditPerson["Name"]

'Saikira'

In [55]:
dit1 = {"subDict":{"Key1":1,"Key2":3}}

In [58]:
dit1.get("subDict").get("Key1")

1

# IF ELSE AND ELIF

In [59]:
# If i want something. if that is not there then give me this

In [62]:
num = 3

In [65]:
if num == 4:
    print("Hey its 4")

In [66]:
if num == 4:
    print("Hey its 4")
else:
    print("Else this is Not 4")

Else this is Not 4

In [69]:
num = 57

if num < 40:
    print("Numbers is Less than 40")
elif num== 40:
    print("Number is 40")
else:
    print("Number is greater than 40")

Number is greater than 40